<div class="container support faq">
    <div id="support-breadcrumb">
        <a href="/support">Support </a>  » 
        <a href="/support#faq-section">FAQ</a>  »
    </div>
    <gen type="h1">
    <div class="row">
        <div class="col-md-9 content">
            <gen type="content">
            <div id="faq-footer">
                «&nbsp;<a href="/support/faq">Revenir aux questions</a>
            </div>
        </div>
        <div id="support-sidebar" class="col-md-3">
            <p style="text-align:center">
                <a href="/support"><img src="/files/images/budgetview_black_128.png" width="128"
                                        height="127"/></a>
            </p>

            <ul class="options support-sidebar-level1">
                <li><b><a href="/support">Aide & Support</a></b></li>
            </ul>

            <p>Créer votre budget</p>
            <ul class="options support-sidebar-level1">
                <li><b><a href="/support/guides/import">Importer vos relevés</a></b></li>
                <li><b><a href="/support/guides/categorisation">Catégoriser </a></b></li>
                <li><b><a href="/support/guides/budget">Finaliser le budget</a></b></li>
            </ul>

            <p>Atteindre vos objectifs</p>
            <ul class="options support-sidebar-level1">
                <li><b><a href="/support/guides/eviter-decouvert">Eviter de passer dans le rouge</a></b></li>
                <li><b><a href="/support/guides/detecter-anomalies">Détecter des anomalies dans vos relevés</a></b></li>
                <li><b><a href="/support/guides/trouver-economies">Trouver des sources d'économies</a></b></li>
                <li><b><a href="/support/guides/anticiper-depenses">Anticiper une dépense importante</a></b></li>
                <li><b><a href="/support/guides/combien-depenser">Déterminer combien vous pouvez dépenser</a></b></li>
                <li><b><a href="/support/guides/preparer-projets">Préparer un projet qui vous tient à coeur</a></b></li>
            </ul>

            <p>Informations utiles</p>
            <ul class="options support-sidebar-level1">
                <li><b><a href="/support/derniers-changements">Derniers changements</a></b></li>
            </ul>

            <p>Besoin d'aide ?</p>
            <ul class="options support-sidebar-level1">
                <li><b><a href="/support/faq">Questions fréquentes</a></b></li>
                <ul class="support-sidebar-level2">
                    <li><a href="/support/faq/general">Questions générales</a></li>
                    <li><a href="/support/faq/donnees">Gérer vos données</a></li>
                    <li><a href="/support/faq/comptes">Gérer vos comptes</a></li>
                    <li><a href="/support/faq/import">Importer/saisir vos relevés bancaires</a></li>
                    <li><a href="/support/faq/categorisation">Catégoriser vos opérations</a></li>
                    <li><a href="/support/faq/operations">Gérer vos opérations</a></li>
                    <li><a href="/support/faq/mobile">Utiliser sur smartphone et tablette</a></li>
                </ul>
                <li><b><a href="mailto:support@mybudgetview.fr">Contactez-nous!</a></b></li>
            </ul>
        </div>

    </div>
</div>
