body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Arial;
  color: #333;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
}

td.left {
  padding-right: 15px;
}

td.center {
  padding-left: 15px;
  padding-right: 15px;
}

td.right {
  padding-left: 15px;
}

h1, h2 {
  color: #1c6714;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

h2 {
  border-bottom: 1px solid #1c6714;
}

td.label {
  width: 200px;
  text-align: right;
  font-size: 11pt;
  color: #555;
  padding-right: 10px;
}

td.format{
  font-weight: bold;
  width: 100px;
}

td.description {
  font-size: 11pt;
}

table.formats td {
  padding-bottom: 10px;
}

table.label-content td {
  padding-bottom: 3px;
}

/* ============================== */

.header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


#page {
  width: 900px;
  margin-left: auto;
  margin-right:auto;
}

#login {
  width: 250px;
  margin-left: auto;
  margin-right:auto;
}

#accueil {
  width: 450px;
  margin-left: auto;
  margin-right:auto;
}

#services li {
  list-style-type: none;
}

#services A:link {
  text-decoration: none;
  color: #0000FF;
}

#services A:visited {
  text-decoration: none;
  color: #0000FF;
}

#services A:hover {
  text-decoration: none;
  color: #006600;
  font-weight: bold;
}
