ul {
  font-size: small
}
li {
  font-size: small
}
#banner img {
  margin:0px;
}

div.composite {
  background-color:#546B98;
}

#poweredBy img {
  display:block;
  margin: 20px 0 20px 0px;
  border: 0px;
  width: 128px;
  height: 89px;
  text-align: center;
}
.source {
  background-color:#F8F8F8;
  text-align:left;
  font-weight:normal;
  font-family:"courier new";
  border: solid;
  border-width:1px;
  border-color:#F0F0F0;
  padding:10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 1em;
}
A:link {text-decoration:none; color: #0000FF}
A:visited {text-decoration:none; color: #800080}
A:hover {text-decoration:underline; color: #FF0000}
