/** IE5/6 PNG transparency fix */
img, div {
  behavior: url( 'iepngfix.htc' );
}

/** body **/
body {
  background-color: white;
  background-image: url( 'bg_gradient.png' );
  background-repeat: repeat-x;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: justify;
}

/* --- Header--- */

#logo-image {
  margin-top: 0;
}

#site-name a:link,
  #site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: underline;
}

.with-navbar #content {
  margin-top: 2em;
}

#content-area {
  margin-top: 10px;
  padding-right: 20px;
  border-right: dashed 1px #CCC;
}

.breadcrumb {
  font-size: 9pt;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: none;
}

/** --- Content --- **/

#content {
  padding-top: 0;
  margin-top: 1.5em;
}

p {
  margin-top: 0.5em;
}

h1, h2, h3 {
  color: #444;
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-align: left;
}

h1.title {
  font-weight: normal;
  font-size: 30pt;
  color: #404040;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 24pt;
  margin-bottom: 0;
}

h3 {
  font-size: 18pt;
  margin-bottom: 0;
}

h4 {
  color: #444;
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: 0;
}

h3 a:link {
  color: #444;
}

h3 a:visited {
  color: #444;
}

a.active {
  font-weight: bold;
}

A:link {
  text-decoration: none;
  color: #0000FF;
}

A:visited {
  text-decoration: none;
  color: #990000;
}

A:hover {
  text-decoration: none;
  color: #FF0000;
}

A.visible:link {
  border-bottom: 1px dashed #0000FF;
  color: #0000FF;
}

A.visible:visited {
  border-bottom: 1px dashed #990000;
  color: #990000;
}

A.visible:hover {
  border-bottom: 1px dashed #FF0000;
  color: #FF0000;
}

li {
  margin-bottom: 0.4em;
}

p.summary {
  text-align: justify;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

.center-block {
  color: #666;
}

.center-block .summary {
  margin-top: 0;
  font-size: 16pt;
  color: #666;
  font-weight: normal;
  line-height: 1.5em;
}

.center-block table {
  padding: 0;
  margin: 0;
}

.center-block td {
  vertical-align: top;
}

.center-block td img {
  margin-right: 20px;
}

.center-block h3 {
  font-family: Georgia, serif;
  text-align: left;
  font-size: 24pt;
  font-weight: normal;
  color: #a36800;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

#about .center-block h3 {
  font-size: 16pt;
}

/** -- front -- **/

div#front-page table {
  margin: 0;
}

/** -- news -- **/
table#news td.date {
  vertical-align: top;
  padding-top: 0.6em;
  padding-right: 10px;
  color: #aaa;
  font-size: 9pt;
  border-right: 1px dashed #ccc;
}

table#news td.content {
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 10px;

}

/* --- Sidebar --- */

.with-navbar #sidebar-right {
  margin-top: 40px;
}

ul.block-menu-all {
  margin-top: 0;
  margin-left: 0;
  padding-left: 2em;
}

ul.block-menu-all li {
  margin-top: 0;
}

ul.block-menu-all li {
  margin-top: 0;
  list-style-image: url( "images/black_triangle_small.png" );
}

/** --- Book navigation --- */

.book-navigation .menu {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.book-navigation .page-links {
  border-bottom: none;
  border-top-color: #CCC;
}

#sidebar-right div.block-book {
  background-color: #F9F9F9;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #CCC;
}

#sidebar-right div.block-book h2 {
  text-align: center;
}

/** --- Primary links --- **/

#primary {
  margin-top: 8px;
}

#primary li {
  margin-left: 2px;
  margin-right: 2px;
  border-right: solid 1px white;
  font-size: 11pt;
}

#primary li.last {
  border-right: none;
}

#primary A:link {
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
}

#primary A:visited {
  text-decoration: none;
  color: #FFF;
}

#primary A:hover {
  text-decoration: underline;
  color: #FFD824;
}

#primary A.active {
  color: #FFF;
  font-weight: bold;
}

/** --- Footer --- **/

div#footer {
  color: #bbb;
  font-size: 9pt;
  text-align: center;
}

div#footer A:link {
  color: #bbb;
}

div#footer A:visited {
  color: #bbb;
}

#content-inner {
  background: white;
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

div.columns {
  margin-bottom: 5em;
  float: none;
}

.left-column {
  float: left;
  width: 47%;
  padding-right: 1em;
}

.right-column {
  float: left;
  width: 47%;
  padding-left: 1em;
}

img.triangle {
  margin-right: 0.2em;
}

/* ==================================================================================== */
/* Download page table */
/* ==================================================================================== */

table#download {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #AAA;
  padding: 10px;
}

table#download thead tr {
  background: #EEEEEE;
  border-bottom: solid 1px #AAA;;
}

table#download thead th {
  text-align: left;
  font-weight: normal;
  padding: 5px 15px 5px 10px;
}

table#download td {
  padding: 5px 15px 5px 10px;
}

/* ==================================================================================== */
/* ChangeLog page */
/* ==================================================================================== */

div#changeLog th {
  display: none;
}

div#changeLog td {
  padding-bottom: 5px;
}

div#changeLog td {
  vertical-align: top;
  padding-right: 10px;
}

div#changeLog td a {
  font-size: 8pt;
  text-align: right;
}

/* ==================================================================================== */
/*  MISC */
/* ==================================================================================== */

p.email-address {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  text-align: left;
  font-family: Courier, sans-serif;
  font-size: 16pt;
}

p.postal-address {
  margin-top: 2em;
  text-align: left;
  margin-left: 1em;
  font-family: Courier, sans-serif;
  font-size: 14pt;
}

/** --- Messages --- */

div.messages {
  margin: 0 1em 5px 1em;
  border: 2px solid #ccc;
  padding: 5px;
  color: #000;
  background-color: #fff;
  font-style: italic;
}

div.warning {
  border-color: #ff7;
}

div.warning, tr.warning {
  color: #000;
  background-color: #ffc;
}

div.error {
  border-color: #c00;
}

div.error, tr.error {
  color: #900;
  background-color: #fee;
}

.help {
  margin: 1em 0;
}

.more-help-link {
  font-size: 0.85em;
  text-align: right;
}

.pager /* A list of page numbers when more than 1 page of content is available */
{
  clear: both;
  margin: 0;
  text-align: center;
}

.pager a, .pager strong.pager-current {
  padding: 0.5em;
}

.feed-icons {
  margin: 1em 0;
}

#navbar-inner {
  float: right;

}

.node h2.title /* Node title */
{
}

.marker {
  color: #c00;
}

.node div.links {
  margin: 1em 0;
}

ul.links /* Taxonomy links, node links, comment links */
{
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.preview .node /* Preview of the content before submitting new or updated content */
{
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for all comments */
{
  margin: 1em 0;
}

.new /* "New" marker for comments that are new for the current user */
{
  color: #c00;
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
{
  margin: 1em 0;
}

/** Drupal blocks **/
.block {
  margin-bottom: 1em;
  font-size: 10pt;
}

.block h2.title {
  font-size: 12pt;
  margin-bottom: 0.3em;
  border-bottom: 1px dashed #CCC;
}

.block ul {
  margin-top: 0.2em;
  margin-bottom: 2em;
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */
{
  color: #c00;
}

.more-link /* Aggregator, blog, and forum more link */
{
  text-align: right;
}

#user-login-form /* Drupal's default login form */
{
  text-align: left;
}

tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin #content tr.even" declaration below. */
{
  border-bottom: none;
  padding: 0;
}

tr.even {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

tr.odd {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

li a.active {
  color: #000;
}

/* ==================================================================================== */
/** Drupal forms **/
/* ==================================================================================== */

.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
  .form-radios {
  margin: 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
  .form-item select.error {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */
{
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */
{
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */
{
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */
{
  font-size: 0.85em;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item {
  margin: 0.4em 0;
}

.form-submit /* The submit button */
{
}

.container-inline .form-submit {
}

.tips /* Tips for Drupal's input formats */
{
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

/* ==================================================================================== */
/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
* admin section of the site.
*/
/* ==================================================================================== */

.section-admin #content table {
  float: none;
}

.section-admin #content tbody {
  border-top: 1px solid #ccc;
}

.section-admin #content th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

.section-admin #content tbody th {
  border-bottom: 1px solid #ccc;
}

.section-admin #content thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

.section-admin #content tr.even,
  .section-admin #content tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

/**  */

div.code {
  background-color: #F8F8F8;
  color: #555;
  text-align: left;
  font-weight: bold;
  font-family: Courier New, monospace;
  border: solid;
  border-width: 1px;
  border-color: #CCC;
  padding: 10px;
:
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}