body {
  color: #505050;
  font-family: Verdana;
  font-size: 10px;
  font-weight: normal;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 5px;
}

table {
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  padding: 5px;
  font-size: 11px;
  font-weight: normal;
  background-color: #edecec;
}

thead {
  margin-bottom: 2px;
}

th {
  padding: 5px;
  padding-bottom: 2px;
}

td {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
}
 td table.form {
   width:100%;
 }

.error input {
  background-color: #ffffcc;
}
