<div class="container support faq">
    <div id="support-breadcrumb">
        <a href="/support">Support </a>  » 
        <a href="/support#faq-section">FAQ</a>  »
    </div>
    <gen type="h1">
    <div class="row">
        <div class="col-md-9 content">
            <gen type="content">
            <div id="faq-footer">
                «&nbsp;<a href="/support/faq">Back to the list</a>
            </div>
        </div>
        <div id="support-sidebar" class="col-md-3">
            <p style="text-align:center">
                <a href="/support"><img src="/files/images/budgetview_black_128.png" width="128"
                                        height="127"/></a>
            </p>

            <p>Need help?</p>
            <ul class="options">
                <li><b><a href="/support/guides">First steps</a></b></li>
                <li><b><a href="/support/faq">FAQ</a></b></li>
                <li><b><a href="mailto:support@budgetview.fr">Contact us!</a></b></li>
            </ul>
        </div>

    </div>
</div>
