<div class="container support">
    <gen type="h1">
    <div class="row">
        <div class="col-md-9 content">
            <gen type="content">
        </div>
        <div id="support-sidebar" class="col-md-3">
            <p style="text-align:center">
                <a href="/support"><img src="/files/images/budgetview_black_128.png" width="128"
                                        height="127"/></a>
            </p>

            <ul class="options">
                <li><b><a href="/support">Aide & Support</a></b></li>
            </ul>

            <p>Créer votre budget</p>
            <ul class="options">
                <li><b><a href="/support/guides/import">Importer vos relevés</a></b></li>
                <li><b><a href="/support/guides/categorisation">Catégoriser </a></b></li>
                <li><b><a href="/support/guides/budget">Finaliser le budget</a></b></li>
            </ul>

            <p>Informations utiles</p>
            <ul class="options">
                <li><b><a href="/support/derniers-changements">Derniers changements</a></b></li>
            </ul>

            <p>Besoin d'aide ?</p>
            <ul class="options">
                <li><b><a href="/support/faq">Questions fréquentes</a></b></li>
                <ul style="text-align: left;">
                    <li><a href="/support/faq/general">Questions générales</a></li>
                    <li><a href="/support/faq/comptes">Gestion des comptes</a></li>
                    <li><a href="/support/faq/import">Import/saisie de relevés bancaires</a></li>
                    <li><a href="/support/faq/categorisation">Catégorisation des opérations</a></li>
                    <li><a href="/support/faq/operations">Gestion des opérations</a></li>
                    <li><a href="/support/faq/mobile">Utilisation sur smartphone et tablette</a></li>
                </ul>
                <li><b><a href="mailto:support@mybudgetview.fr">Contactez-nous!</a></b></li>
            </ul>
        </div>

    </div>
</div>
