android {
  signingConfigs {
    release {
      storeFile file(getProperty(SIGNING_PROPERTY_NAME) + ".keystore")
      storePassword "my-store-pwd"
      keyAlias "my-alias"
      keyPassword "my-alias-pwd"
    }
  }
 
  buildTypes {
    release {
      signingConfig signingConfigs.release
    }
  }
}