.roomStateFree {
  background-color:beige;
}

.roomStateNotFree{
  background-color:crimson;
}

#tableDiv {
  margin-bottom: 0px;
  margin-left: 300px;
}

#hoursChange {
  float: left;
}

.roomName{
  font-size:3em;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px
}

.date{
  padding-bottom:10px;
  text-align:center;
}