body {
  background: #d9d1c5 url('bg.png') repeat-x;
  color: #494949;
  text-align: left;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

/* ========== GENERAL LAYOUT ========== */

#page {
  width: 960px;
}

.with-navigation #content {
 margin-top: 1em;
}

.sidebar-right #content {
  margin-left: 0;
  margin-right: -610px;
  width: 660px;
}

#sidebar-right {
  margin-left: 610px;
}

.no-sidebars #content {
  width: 960px;
}

#main {
  border-top: 2px solid #BBB;
  border: none;
  margin-top: 5px;
  padding-top: 15px;
}

/* ========== GENERAL STYLES ========== */

h1 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  color: #222;
  margin-top:0px;
  margin-bottom: 35px;
  text-shadow: white 0 2px 0;
}

h1.multiline {
  font-size: 24pt;  
}


h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #232323;
  text-align: left;
  margin-top: 10px;
  margin-left: 0;
  font-size: 14pt;
}


h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #111;
  font-size: 14pt;
  margin-bottom: 10px;
  text-align: left;
}

table h3 {
  margin-top: 10px;
  font-size: 12pt;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  margin: 0;
}

p, li, td {
  color: #404040;
  font-size: 10pt;
}

li {
  margin-bottom: 0.4em;
}

b {
  color: #333;
}

.nospace {
  margin-bottom: 0;
}

span.author {
  font-weight: bold;
  color: #333;
}

img.right {
  float: right;
  margin-left: 10px;
  vertical-align: top;
}

em {
  color: #333;
}

p.terminal {
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #333;
  color: #0F0;
  font-family: Courier, monospace;
}

/* ========== LINKS ========== */

A:link {
  text-decoration: none;
  color: #0000FF;
}

A:visited {
  text-decoration: none;
  color: #0000dd;
}

A:hover {
  text-decoration: none;
  color: #dd6600;
}

A.highlighted:link {
  border-bottom: 1px dashed #0000FF;
}

A.highlighted:visited {
  border-bottom: 1px dashed #0000dd;
}

A.highlighted:hover {
  border-bottom: 1px dashed #dd6600;
}

/* ========== HEADER ========== */

#header-inner {
  margin-top: 10px;
  position: relative;
}

#logo-title {
  float: left;
  display: inline;
}

#logo {
  display: block:
  float: left;
  width: 300px;
  padding-top: 1px;
}

#header-blocks {
  float: right;
}

#header .section .clearfix {
  clear: none;
}

#header-links {
  float: right;
  width: 530px;
  margin-top: 7px;
}

#block-menu-primary-links {
  float: right;
}

#block-menu-primary-links h2 {
  display: none;
}

#block-menu-primary-links ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

#page #header #block-menu-primary-links ul a {
  font-size: 9pt;
}

#block-menu-primary-links .expanded ul {
  font-size: 9pt;
}

#block-menu-primary-links li {
  list-style-type: none;
  display: inline;
  padding-left: 4px;
  padding-right: 8px;
  border-right: solid 1px #AAA;
}

#block-menu-primary-links li.last {
  border-right: none;
}

#block-menu-primary-links A:link,
#block-menu-primary-links A:visited {
  text-decoration: none;
  color: #DDD;
  font-weight: normal;
}

#block-menu-primary-links A:hover {
  text-decoration: underline;
  color: #FFF;
}

#block-menu-primary-links A.active,
  #block-menu-primary-links li.expanded A:link,
  #block-menu-primary-links li.expanded A:visited {
  color: #FFF;
  font-weight: bold;
}

#block-menu-primary-links li.expanded ul A:link,
#block-menu-primary-links li.expanded ul A:visited {
  color: #999;
  font-weight: normal;
}

#block-menu-primary-links li.expanded ul A.active {
  color: #999;
  font-weight: bold;
  font-size: 10pt;
}

/* ========== FOOTER ========== */

#footer {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 9pt;
  color: #999;
}

#footer A:link {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dashed #BBB;
}

#footer A:visited {
  color: #888;
  border-bottom: 1px dashed #BBB;
}

#footer A:hover {
  color: #00F;
  border-bottom: 1px dashed #00F;
}

/* ========== TABLES ========== */

table {
  width: 100%;
}

td {
  vertical-align: top;
  text-align: left;
}

td.left {
  padding-right: 15px;
}

td.center {
  padding-left: 15px;
  padding-right: 15px;
}

td.right {
  padding-left: 15px;
}

td.vertically-centered {
  vertical-align: middle;
}

table.banner h3 {
  text-align: center;
}

table.banner td, table.banner p {
  font-size: 9pt;
}

table.vertical-bars td.left {
  padding-right: 25px;
  border-right: 1px solid #EEE;
}

table.vertical-bars td.center {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid #EEE;
}

table.vertical-bars td.right {
  padding-left: 25px;
}


/* ========== FULL-SEPARATOR BLOCKS ========== */

.full-separators h2 {
  text-align: center;
  font-size: 16pt;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  margin-top: 25px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 5px;
  background: #F9F9F9;
}

.full-separators h2 img {
  vertical-align: text-bottom;
}

.full-separators p.intro {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 11pt;
  text-align: center;
}

.full-separators p.centered {
  font-size: 11pt;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* ========== BLOCKS ========== */

.centered {
  text-align: center;
}

p.biglink {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

table.centered {
  margin-left: auto;
  margin-right: auto;
}

div.summary {
  font-size: 12pt;
  color: #111;
  font-weight: bold;
  text-align: center;
  margin-top: 10pt;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20pt;
}

div.summary p {
  font-size: 12pt;
  color: #111;
}

div.light-block {
  background: #fff url('block_bg.png') repeat-x;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #D5D5D5;
  padding: 10px 25px;
}

div.light-block hr {
  margin-bottom: 15px;
  margin-top: 15px;
  border: none 0;
  border-top: 1px solid #eee;
  width: 100%;
  height: 1px;
}

div.light-block div.block {
  padding: 10px;
  border: solid 1px #AAA;
  background-color: #EEE;
}

div#bottom-buttons {
  margin-top: 20px;
  text-align: center;
}

div.transparent-80 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* ========== DOWNLOAD PAGE ========== */

table#download-platforms {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

table#download-platforms td {
  text-align: center;
}

table#download-notices {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

table#download-notices tr td {
  vertical-align: top;
}

table#download-platforms td#choose-platform  {
  width: 200px;
  vertical-align: middle;
}

table#download-platforms td#choose-platform #select {
  vertical-align: middle;
  font-size: 18pt;
  line-height: 1.1em;
  color: #666;
}

#download-block {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

#download-block table {
  margin-left: auto;
  margin-right: auto;
}

#download-block td {
  text-align: center;
}

#download-block td.center {
  padding-left: 40px;
  padding-right: 40px;
}

table#download {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

table#download td {
  text-align:center;
}

table#download td.left {
  vertical-align: middle;
  padding-right: 10px;
}

table#download td.right {
  padding-left: 0;
}

.full-screenshot {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#trademarks {
  margin-top: 20px;
  text-align: center;
  font-size: 9pt;
}

#trademarks p, #trademarks b {
  color: #888;
}

.screenshot {
  text-align: center;
}

#install-windows .screenshot {
  margin: 15px;
}


/*=== DOWNLOAD FORM PAGE ===*/

div#webform {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.node-type-webform div.meta {
  display: none;
}

#download .email-label {
  font-weight: bold;
  font-size: 11pt;
}

#download .note {
  font-size: 9pt;
  margin-top: 20px;
  color: #888;
}

/* ========== DOCUMENTATION PAGE ========== */

#faq {
  text-align: left;
}

#faq h3 {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 10px;
  font-style: italic;
  font-size: 10pt;
  color: #333;
}

#faq p {
  margin-top: 2px;
  padding-left: 10px;
}

/* ========== CALENDAR TABLE ========== */

table.calendar {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

table.calendar td {
  border: solid 1px #ccc;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  background: #FFF;
}

table.calendar tr.months td {
  background: #444;
  color: #FFF;
  border: solid 1px #444;
  text-align: center;
}

table.calendar td.name {
  text-align: left;
}

/* ========== FIELD/VALUE TABLE ========== */

table.field-value {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #ccc;
}

table.field-value td {
  padding: 5px;
  vertical-align: top;
  text-align: right;
  background: #fbfbfb;
}

table.field-value td.field {
  padding-top: 10px;
  background: #444;
  color: #FFF;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

table.field-value td.value {
  padding-left: 10px;
  text-align: left;
}

/* ========== BUY PAGE ========== */

#buy table#intro {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

#buy table#intro td {
  text-align: center;
  vertical-align: center;
}

#buy table#intro div#text {
  margin-top: 80px;
}

#buy table#intro div#text p {
  margin-top: 10px;
  font-size: 18pt;
  line-height: 1.1em;
}

#buy table#notes h2 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14pt;
}

#buy table#notes h2 img {
  vertical-align: middle;
}

#buy table#notes td p {
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.3em;
  color: #444;
}

/* ========== BUY OK/NOK PAGE ========== */

#buy-ok {
  padding-left: 0;
}

.buy-confirmation td#text {
  text-align: center;
  vertical-align: middle;
}

.buy-confirmation #text p {
  font-size: 11pt;
  line-height: 1.2em;
  margin: 10px;
}

.buy-confirmation #text p.title {
  font-size: 18pt;
  line-height: 1.1em;
}

.buy-confirmation #text p.email {
  font-size: 14pt;
  font-weight: bold;
  line-height: 1.1em;
  margin: 15px;
}

/* ========== ABOUT PAGE ========== */

#about {
  padding-bottom: 25px;
}

#about #about-info {
  margin-top: 20px; 
}

#about #about-info td {
  line-height: 1.4em;
  padding: 5px;
  padding-bottom: 25px;
}

#about #about-info tr.last td {
  padding-bottom: 5px;
}

#about #about-info td.left {
  font-size: 18pt;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

#about #about-info td.right{
  font-size: 11pt;
}

#about #about-contact p {
  font-size: 11pt;
}

/* ========== PRESS ========== */

#press .images td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

#press .images p {
  font-size: 9pt;
}

/* ========== CLOSE BLOCK ========== */

#close {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

#close p {
  color: #222;
  font-size: 18pt;
}

#close img {
  margin-top: 10px;
}

#close #close-trial {
  margin-top: -10px;
  color: #AAA;
  font-size: 9pt;
}


/* ========= FRONT PAGE ========= */

#home #main {
  padding-top: 0;
}

#home #main #content {
  margin-top: 3em;
}


#home div#text h1 {
  font-family: helvetica, arial, sans-serif;
  color: #333;
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin: 20px 0px 20px;
  padding: 0px;
  text-align: center;
  text-shadow: white 0 2px 0;
}

#home div#text h2 {
  color: #444;
  font-family: georgia, arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.1em;
  text-align: center;
  margin: 0px 0px 15px;
  padding: 0px;
  text-shadow: white 0 1px 0;
}

#home div#text img {
  margin-top: 10px;
}

#home div#text #platforms {
  margin: 0;
  color: #777;
}

#home div#text #price {
  margin: -10px 0 0 0;
  color: #333;
  font-size: 11pt;
}

#home table#front-table {
  margin-bottom: 60px;
}

#home table#front-table td {
  vertical-align: middle;
}

#home #videoBorder {
  width: 560px;
  height: 420px;
  border: solid 1px #AAA;
  margin-left: auto;
  margin-right: auto;
}

#home #text {
  margin-right: 30px;
  text-align: center;
}

#home .intro {
  font-size: 24pt;
  line-height: 1.3em;
}

#home #presentation {
  padding-top: 30px;
}

#home table.image-and-text {
  margin-left: auto;
  margin-right: auto;
}

#home table.image-and-text td {
  vertical-align: middle;
  text-align: justify;
}

#home table.image-and-text td.align-right p,
#home table.image-and-text td.align-right h2 {
  margin-right: 10px;
}

#home table.image-and-text td h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

#home table.image-and-text td.center {
  width: 10px;
  padding: 0;
}

/*=== HELP PAGE ===*/

#help table {
  margin-top: 25px;
}

#help table td {
  text-align: center;
}

#help table a {
  font-size: 12pt;
}

#help #contact img {
  margin: 20px;
}

#help #contact p {
  color: #222;
}

#help #contact .address {
  font-size: 14pt;
  font-weight: bold;
  color: #222;
}

#help table#help-contact {
  margin-bottom: 40px;
}

#help table#help-contact td {
  vertical-align: top;
}

#help table#help-contact td.right {
  border-left: solid 1px #ccc;
}

/*=== PRESENTATION PAGE ===*/

#home #content #presentation h2 {
  font-size: 13pt;
  margin-bottom: 0;
}

#home #intro {
  margin-top: 15px;
}

#home table#intro p.intro {
  font-size: 12pt;
  color: #888;
  line-height: 1.3em;
}

#home table#intro p.intro {
  font-size: 12pt;
  color: #888;
  line-height: 1.3em;
}

#home table#intro td.right {
  padding-left: 5px; 
}

#home table#intro h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

#home table#intro p.description {
  margin-top: 0;
  color: #888;
}

#home strong {
  background: #FAFAFA;
}

#home table#import {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#home div.separator {
  margin: 20px;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #D0D0D0;
  background: #F9F9F9;
  padding: 5px;
}

#home div.separator p {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

#home #steps-intro {
  margin-top: 0;
}

#home #security {
  width: 70%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#home #security td.left {
  padding: 0;
  vertical-align: bottom;
}

#home #security td.left img {
  margin: 0;
}

#home #security h2 {
  margin-top: 0;
  margin-bottom: 0;
}

/*=== HELP PAGE ===*/

#showroom {
  text-align: center;
}

p#close-showroom {
  margin-top: 15px;
  line-height: 1.5em;
  font-size: 12pt;
}

p#close-showroom A {
  font-weight: bold;
}

/*=== "WHY" PAGE ===*/

#why {
  padding-top: 15px;
}

#why p {
  font-size: 10pt;
  line-height: 1.2em;
  margin-bottom: 10px;
}

#why table p {
  text-align: justify;
}

#why .why-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#why #project-definition-intro p {
  font-size: 13pt;
  text-align: center;
}

#why table#project-definition-examples {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #BBB;
  margin-bottom: 10px;
  background-color: #F9F9F9;
}

#why table#project-definition-examples td {
  padding: 5px 10px 5px 10px;
}

#why table#project-definition-examples td.left p {
  text-align: right;
  font-size: 11pt;
  font-style:italic;
}

#why table#project-definition-examples td.right {
  padding-left: 20px;
  background-image: url('/files/images/why/right_arrow.png');
  background-repeat: no-repeat;
  background-position: left;
}

#why table#project-definition-examples td.right p {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

#why #project-definition-try {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#why #budget {
  padding-bottom: 15px;
  border-bottom: 1px solid #DDD;
}

#why #close p {
  color: #222;
  font-size: 18pt;
}

#why #close #close-trial {
  margin-top: -10px;
  color: #AAA;
  font-size: 9pt;
}

/*=== "SUPPORT" PAGE ===*/

.support h1 {
  font-size: 20pt;
}

.support div.light-block {
  padding-top: 20px;
}

.faq p, .faq li, .faq td {
  font-size: 11pt;
  line-height: 1.45em;
  margin-bottom: 10px;
}

.guide p, .guide li, .guide td {
  font-size: 10pt;
  line-height: 1.35em;
  margin-bottom: 10px;
}

.support .video {
  margin-top:10px;
  margin-bottom:10px;
}

table#guides-table tr.titles td {
  font-size: 11pt;
}

table#faq-menu td li {
  margin-bottom: 0px;
}

div#support-breadcrumb {
  text-align: center;
  text-shadow: white 0 2px 0;
  color: #AAAAAA;
}

div#support-breadcrumb A:link {
  text-decoration: none;
  color: #AAAAAA;
}

div#support-breadcrumb A:visited {
  text-decoration: none;
  color: #999999;
}

div#support-breadcrumb A:hover {
  text-decoration: underline;
  color: #0000FF;
}

img.faq-icon {
  float:left;
  margin: 0 5px 2px 0;
}

div#block-block-5 {
  margin-top: 0;
}

div#support-sidebar {
  margin-top: 80px;
}

div#support-footer {
  text-align: center;
  margin-top: 10px;
}

div#support-footer p {
  font-size: 14pt;
}

/* ========= FAQ FOOTER ========== */

div#faq-footer {
  text-align: left;
  text-shadow: white 0 2px 0;
  color: #AAAAAA;
  margin-bottom: 20px;
}

div#faq-footer A:link {
  text-decoration: none;
  color: #AAAAAA;
}

div#faq-footer A:visited {
  text-decoration: none;
  color: #999999;
}

div#faq-footer A:hover {
  text-decoration: underline;
  color: #0000FF;
}

/* ========= CHANGE LOG ========== */

div#changelog span.date {
  margin-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  color: #888;
}
