body {
  padding-top: 60px;
  padding-bottom: 25px;
  background-color: white;
  font-family: Arial, sans-serif;
  color: #333;
  background: #FFF;
  text-align: justify;
  margin: 7px;
}

button.btn {
  color: #fff;
  background-color: #EA792B;
  border-color: #eea236;
  font-size: 18px;
}

div.centered {
 text-align: center;
}

.container {
  max-width: 900px;
}

/* ========= Header & NavBar ========= */

.navbar .container .navbar-header .navbar-brand {
  padding-top: 16px;
  padding-bottom: 5px;
}

.navbar .container .navbar-header .navbar-brand img {
  margin-top: -8px;
  margin-right: 2px;
}

div.navbar-header img {
  margin-top: -5px;
  vertical-align:text-middle;
  margin-bottom: -5px;
}

div.navbar-default {
  background-color: #f0f0f0;
}

/* ========= Elements ========= */

div.container h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

div.container h3 {
  color: #000;
  text-align: left;
}

/* ========= FRONT PAGE ========= */

#home #main {
  padding-top: 0;
}

#home .jumbotron {
  background: url("/files/images/front/home_bg.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10xp;
  padding-right: 10xp;
  margin-top: 10px;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 10px;
}

#home #text {
  margin-top: 60px;
  margin-left: -20px;
  margin-right: -10px;
  text-align: center;
  padding: 0;
}

#home h2 {
  text-align: center;
}

#home h3.legend {
  margin-top: 5px;
  color: #FF9230;
}

#home #text h1 {
  font-family: helvetica, arial, sans-serif;
  color: #FFF;
  font-size: 24pt;
  letter-spacing: -1px;
  line-height: 1.2em;
  margin: 0px 0px 20px;
  padding: 0px;
  text-align: center;
}

#home #text .details {
  margin-top: 15px;
}

#home #text .details a {
  font-weight: bold;
  color: #FFF;
}

#home #text .details p {
  margin: 0;
  color: #DDD;
  font-size: 11pt;
}

#home .large-screenshot {
  margin-left: -25px
}

#home hr {
  border-color: #EEE;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home #zoom h2.zoom-title {
  text-align: center;
  color: #333;
  font-size: 18pt;
}

#home #zoom table td {
  padding-top:0px;
}

#home #zoom table h2 {
  margin-top:0px;
  margin-bottom:0px;
}

#home table.image-and-text {
  margin-left: auto;
  margin-right: auto;
}

#home table.image-and-text td {
  vertical-align: middle;
  text-align: justify;
}

#home table.image-and-text td.align-right p,
#home table.image-and-text td.align-right h2 {
  margin-right: 10px;
}

#home table.image-and-text td h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

#home table.image-and-text td.center {
  width: 10px;
  padding: 0;
}

#home #testimonials-block {
  border: 1px solid #EEEEEE;
  background: #f0f0f0;
  margin-top: 15px;
}

#home #testimonials {
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

#home #testimonials p {
  color: #222;
  font-size: 11pt;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

#home #more-testimonials {
  margin-top: 5px;
  border: none;
}

#home #more-testimonials p {
  margin-top: 5px;
  margin-bottom: 10px;
}

#home div#presentation p,
#home div#presentation li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.1em;
  line-height: 1.44em;
}

#home #mobile {
  width: 90%;
  margin-top: 20px;
}

#home #security {
  width: 80%;
  margin-top: 20px;
}

#home .version-title {
  padding-top: 55px;
}

#home .version-title h2 {
  font-size: 24px;
  font-weight: bold;
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:0;
}


/*=== SHOW/HIDE ===*/

.more {
  display: none;
}
a.showLink, a.hideLink {
  text-decoration: none;
  color: #36f;
  padding-left: 8px;
  background: transparent url("/images/down.gif") no-repeat left;
}
a.hideLink {
  background: transparent url("/images/up.gif") no-repeat left;
}
a.showLink:hover, a.hideLink:hover {
  border-bottom: 1px dotted #36f;
}

/* ========== DOWNLOAD PAGE ========== */

.container #download-platforms {
  background-color: #FFF;
  background: #FFF;
  border: solid 1px #E0E0E0;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #CCC;
}

#download-platforms .platform {
  text-align: center;
}

#download-platforms td#choose-platform  {
  width: 200px;
  vertical-align: middle;
}

#download-platforms td#choose-platform #select {
  vertical-align: middle;
  font-size: 18pt;
  line-height: 1.1em;
  color: #666;
}

#download-block {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

#download-block table {
  margin-left: auto;
  margin-right: auto;
}

#download-block td {
  text-align: center;
}

#download {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

table#download td {
  text-align:center;
}

table#download td.left {
  vertical-align: middle;
  padding-right: 10px;
}

table#download td.right {
  padding-left: 0;
}

#download-details {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color: #777;
}

.full-screenshot {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#trademarks {
  margin-top: 20px;
  text-align: center;
  font-size: 9pt;
}

#trademarks p, #trademarks b {
  color: #888;
}

.screenshot {
  text-align: center;
}

#install-windows .screenshot {
  margin: 15px;
}

/* ========== SUPPORT / FAQ PAGE ========== */

#faq {
  text-align: left;
}

#faq h3 {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 10px;
  font-style: italic;
  font-size: 10pt;
  color: #333;
}

#faq p {
  margin-top: 2px;
  padding-left: 10px;
}

/* ========== CALENDAR TABLE ========== */

table.calendar {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

table.calendar td {
  border: solid 1px #ccc;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  background: #FFF;
}

table.calendar tr.months td {
  background: #444;
  color: #FFF;
  border: solid 1px #444;
  text-align: center;
}

table.calendar td.name {
  text-align: left;
}

/* ========== FIELD/VALUE TABLE ========== */

table.field-value {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #ccc;
}

table.field-value td {
  padding: 5px;
  vertical-align: top;
  text-align: right;
  background: #fbfbfb;
}

table.field-value td.field {
  padding-top: 10px;
  background: #444;
  color: #FFF;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

table.field-value td.value {
  padding-left: 10px;
  text-align: left;
}

/* ========== BUY PAGE ========== */

#buy #intro {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
}

#buy #intro td {
  text-align: center;
  vertical-align: center;
}

#buy #intro div#text {
  margin-top: 80px;
}

#buy #intro div#text p {
  margin-top: 10px;
  font-size: 18pt;
  line-height: 1.1em;
}

#buy #intro form {
  margin-top: 30px;
}

#buy #notes h2 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14pt;
}

#buy #notes h2 img {
  vertical-align: middle;
}

#buy #notes td p {
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.3em;
  color: #444;
}

/* ========== BUY OK/NOK PAGE ========== */

#buy-ok {
  padding-left: 0;
}

.buy-confirmation td#text {
  text-align: center;
  vertical-align: middle;
}

.buy-confirmation #text p {
  font-size: 11pt;
  line-height: 1.2em;
  margin: 10px;
}

.buy-confirmation #text p.title {
  font-size: 18pt;
  line-height: 1.1em;
}

.buy-confirmation #text p.email {
  font-size: 14pt;
  font-weight: bold;
  line-height: 1.1em;
  margin: 15px;
}

/* ========== ABOUT PAGE ========== */

#about {
  padding-bottom: 25px;
}

#about #about-info {
  margin-top: 20px;
}

#about #about-info td {
  line-height: 1.4em;
  padding: 5px;
  padding-bottom: 25px;
}

#about #about-info tr.last td {
  padding-bottom: 5px;
}

#about #about-info td.left {
  font-size: 18pt;
  padding: 5px;
  padding-right: 10px;
  border-right: solid 1px #DDD;
  text-align: right;
  vertical-align: middle;
  width: 150px;
}

#about #about-info td.right{
  font-size: 11pt;
  padding-left: 10px;
}

#about #about-contact p {
  font-size: 11pt;
}

/* ========== PRESS ========== */

#press .images td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

#press .images p {
  font-size: 9pt;
}

/* ========== CLOSE BLOCK ========== */

#close {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

#close p {
  color: #222;
  font-size: 18pt;
}

#close img {
  margin-top: 10px;
}

#close #close-trial {
  margin-top: 5px;
  color: #AAA;
  font-size: 9pt;
}

/*=== HELP PAGE ===*/

#help table {
  margin-top: 25px;
}

#help table td {
  text-align: center;
}

#help table a {
  font-size: 12pt;
}

#help #contact img {
  margin: 20px;
}

#help #contact p {
  color: #222;
}

#help #contact .address {
  font-size: 14pt;
  font-weight: bold;
  color: #222;
}

#help table#help-contact {
  margin-bottom: 40px;
}

#help table#help-contact td {
  vertical-align: top;
}

#help table#help-contact td.right {
  border-left: solid 1px #ccc;
}

/*=== PRESENTATION PAGE ===*/

#home #content #presentation h2 {
  font-size: 13pt;
  margin-bottom: 0;
}

#home #intro {
  margin-top: 15px;
}

#home table#intro p.intro {
  font-size: 12pt;
  color: #888;
  line-height: 1.3em;
}

#home table#intro p.intro {
  font-size: 12pt;
  color: #888;
  line-height: 1.3em;
}

#home table#intro td.right {
  padding-left: 5px;
}

#home table#intro h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

#home table#intro p.description {
  margin-top: 0;
  color: #888;
}

#home table#import {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

#home div.separator {
  margin: 20px;
  border: solid 1px #EEEEEE;
  background: #F6F6F6;
  padding: 5px;
}

#home div.separator p {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

#home #security {
  width: 70%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#home #security td.left {
  padding: 0;
  vertical-align: bottom;
}

#home #security td.left img {
  margin: 0;
}

#home #security h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#home .feature-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#home .feature-list h3 {
  font-size: 16pt;
  font-weight: bold;
  color: #333;
}

#home .feature-list table li {
  margin-bottom: 0.2em;
}


/*=== "SUPPORT" PAGE ===*/

.support .content {
  padding-right;
  border-right: solid 1px #DDD;
}

.support h2 {
  font-size: 16pt;
}

.support #support-sidebar {
  padding-top: 20px;
}

.faq p, .faq li, .faq td {
  font-size: 11pt;
  line-height: 1.45em;
  margin-bottom: 10px;
}

.guide p, .guide li, .guide td {
  font-size: 10pt;
  line-height: 1.35em;
  margin-bottom: 10px;
}

.support .video {
  margin-top:10px;
  margin-bottom:10px;
}

div#guides p {
  font-size: 11pt;
}

table#faq-menu td li {
  margin-bottom: 0px;
}

div#support-breadcrumb {
  text-align: center;
  text-shadow: white 0 2px 0;
  color: #AAAAAA;
}

div#support-breadcrumb A:link {
  text-decoration: none;
  color: #AAAAAA;
}

div#support-breadcrumb A:visited {
  text-decoration: none;
  color: #999999;
}

div#support-breadcrumb A:hover {
  text-decoration: underline;
  color: #0000FF;
}

img.faq-icon {
  float:left;
  margin: 0 5px 2px 0;
}

div#block-block-5 {
  margin-top: 0;
}

div#support content {
  border-left: solid 1px #CCC;
}

div#support-footer {
  text-align: center;
  margin-top: 10px;
}

div#support-footer p {
  font-size: 14pt;
}

/* ========= FAQ PAGES ========== */

.faq h1 {
  font-size: 20pt;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
}

div#faq-footer {
  text-align: left;
  text-shadow: white 0 2px 0;
  color: #AAAAAA;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
}

div#faq-footer A:link {
  text-decoration: none;
  color: #666666;
}

div#faq-footer A:visited {
  text-decoration: none;
  color: #666666;
}

div#faq-footer A:hover {
  text-decoration: underline;
  color: #0000FF;
}

/* ========= CHANGE LOG ========== */

#changelog h2 {
  text-align:center;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #F4F4F4;
}

#changelog span.date {
  margin-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  color: #888;
}

/* ========= GUIDE ========== */

#add-ons .jumbotron {
  background-color: #FFF;
  background: #FFF;
  padding-left:10px;
  padding-top:30px;
  padding-bottom:10px;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#add-ons .jumbotron #text-side {
  margin-top: 10px;
}

#add-ons .jumbotron h1 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

#add-ons .jumbotron p {
  margin: 0px;
}

#add-ons .jumbotron .list {
  padding-left: 40px;
  font-size: 16px;
  text-align: left;
  color: #666;
}

#add-ons .jumbotron .list li {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1;
}

#add-ons .jumbotron form {
  margin-top: 20px;
  margin-bottom: 10px;
}

#add-ons .jumbotron p.price {
  margin-top: 10px;
  font-size: 16px;
  color: #777;
}

#add-ons .feature {
  padding-top: 40px;
}

#add-ons .feature h2 {
  font-size: 24px;
}


/* ========= GUIDE ========== */

#why table#project-definition-examples {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #BBB;
  margin-bottom: 10px;
  background-color: #F9F9F9;
}

#why table#project-definition-examples td {
  padding: 5px 10px 5px 10px;
}

#why table#project-definition-examples td.left p {
  text-align: right;
  font-size: 11pt;
  font-style:italic;
}

#why table#project-definition-examples td.right {
  padding-left: 20px;
  background-image: url('/files/images/why/right_arrow.png');
  background-repeat: no-repeat;
  background-position: left;
}

#why table#project-definition-examples td.right p {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

/* ========== FOOTER ========== */

#footer {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 9pt;
  color: #999;
}

#footer A:link {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dashed #BBB;
}

#footer A:visited {
  color: #888;
  border-bottom: 1px dashed #BBB;
}

#footer A:hover {
  color: #00F;
  border-bottom: 1px dashed #00F;
}